.main {
    margin: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(89, 62, 32, 0.3);
    /*margin: 3px;*/
    /*padding: 2px;*/
}