.main {
    margin: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: larger;
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(89, 62, 32, 0.3);
    text-decoration: none;
    color: black;
}