.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_wrap {
    display: flex;
    flex-direction: column;

    justify-content: left;
    margin: 10px;
}

.input_wrap {
    display: flex;
    margin: 3px;
    padding: 2px;
    background: rgba(220, 196, 168, 0.62);
}

.select_wrap {
    display: flex;
    margin: 10px;
    background: rgba(220, 196, 168, 0.62);
}

.selects_wrap {
    display: flex;
}

.users_wrap {
    background: rgba(220, 196, 168, 0.62);
    padding: 10px;
}

.search_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 15vw;
    background: rgba(220, 196, 168, 0.62);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.permission_message {
    margin-top: 5vh;
    background: rgba(89, 62, 32, 0.1);
    font-size: x-large;
    color: rgba(155, 2, 77, 0.91);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pag_button {
    height: 5vh;
    width: 7vw;
    background: rgba(220, 196, 168, 0.62);
    border-radius: 3px;
    border: none;
}